/* Treaty paragraph indentation */
.indent-1 { padding-left: 20px; }
.indent-2 { padding-left: 40px; }
.indent-3 { padding-left: 60px; }
.indent-4 { padding-left: 70px; }

#treaty-text a.permalink, #treaty-text .smallipop-hint { display: none; }
#treaty-text h4:hover a.permalink { display: inline; }
#treaty-text .paragraph:hover a.permalink { display: block; float: right; }

#treaty-text .panel { border: 0; }
#treaty-text .panel-title:before { content: ""; }

#treaty-text div.paragraph { margin-bottom: 15px; text-align: justify; }
