/* Treaty paragraph indentation */
.indent-2 { margin-left: 40px; }
.indent-3 { margin-left: 80px; }
.indent-4 { margin-left: 120px; }

#treaty-text a.permalink, #treaty-text .smallipop-hint { display: none; }
#treaty-text .panel-heading:hover a.permalink { display: inline-block; }
#treaty-text .paragraph:hover a.permalink { display: block; float: right; }

#treaty-text .paragraph { margin-bottom: 10px; text-align: justify; }
