div#informea {
    -moz-border-radius: 50px/50px;
    background-color:#308FC0;
    border:solid 2px #308FC0;
    width:190px;
    height:160px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    background: linear-gradient(#3398CB, #26739A);
    font-family: FontAwesome;
    font-size: 15px;
}

div#informea .title {
    font-size: 26px;
    color: #F2F7F2;
    background-image:url(http://www.informea.org/wp-content/uploads/2014/01/UNlogo.png);
    background-repeat: no-repeat;
    padding: 0px 15px 15px 49px;
    margin: 3px 0px 0px 0px;
}

div#informea .slogan {
    color: #FFFDFD;
    margin-left: 5px;
    line-height: 18px;
}

div#informea input.button {
    border-top: 2px solid #FFCC66;
    border-bottom: 2px solid #FFCC66;
    border-left: 0;
    border-right: 0;
    background-color: #FFCC66;
    background-image: url(http://www.informea.org/wp-content/uploads/2014/01/search.png);
    background-repeat: no-repeat;
    background-position: left;
    width: 34px;
    height: 20px;
    border-top-right-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
    margin-top: 2px;
    margin-left: -2px;
}

div#informea .search {
    padding: 0 2px;
    border: 1px solid #FFCC66;
    border-right: 0px;
    border-top-left-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
    width: 140px;
    float: left;
    height: 22px;
    margin-left: 6px;
    margin-top: 2px;
    font-size: 12px;
    font-weight: normal;
}

div#informea .link {
    text-align: right;
}

div#informea .link a {
    color: #CCCCCC;
    text-align: right;
    text-decoration: none;
    padding-right: 4px;
    font-size: 12px;
}

div#informea .link a:hover {
    text-decoration: underline;
}
