
/* Search results */
div.view-the-search-view .view-content {
  margin-top: 25px;
}

div.view-the-search-view .views-row {
  margin-bottom: 25px;
}

div.view-the-search-view .views-field-title {
  font-size: 20px;
  margin-bottom: 5px;
}

/* Search filter */
div.views-widget-filter-search_api_views_fulltext label,
div.views-widget-filter-search_api_views_fulltext div.views-operator,
div.views-widget-filter-search_api_views_fulltext div.views-widget {
  float: left;
}

div.view-the-search-view div.views-exposed-form .views-submit-button {
  margin-top: -22px;
}
div.views-widget-filter-search_api_views_fulltext label {
  margin-top: 5px;
}

div.views-widget-filter-search_api_views_fulltext div.views-operator,
div.views-widget-filter-search_api_views_fulltext div.views-widget {
  margin-left: 15px;
}


/* Facets */
.facetapi-facetapi-links {
  list-style: none;
  padding-left: 0;
}

.facetapi-facetapi-links > li {
  display: block;
}

.facetapi-facetapi-links > li > .facetapi-inactive {
  color: #777;
  display: block;
  padding: 3px 7px;
}

.facetapi-facetapi-links > li > .facetapi-inactive:hover {
  background-color: #f5f5f5;
  border-radius: 4px;
  text-decoration: none;
}

.facetapi-facetapi-links > li > .facetapi-inactive > .pull-right {
  color: #999;
}
