/* Exposed filters */
/* --------------- */


#edit-search-api-views-fulltext-wrapper > label {
  font-size: 18px;
  font-weight: normal;
  line-height: 34px;
  margin-bottom: 0;
}

.select2-container .select2-choice {
  background-color: #fff;
  background-image: none;
  border-color: #e4e4e4;
  border-radius: 3px;
  color: #999;
  height: 34px;
  line-height: 32px;
  padding-left: 11px;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.select2-drop {
  -webkit-box-shadow: 0 1px 2px rgba(51, 102, 150, .1);
  box-shadow: 0 1px 2px rgba(51, 102, 150, .1);
  border-color: #e4e4e4;
}

#edit-search-api-views-fulltext-wrapper .select2-container .select2-choice {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.select2-container .select2-choice .select2-arrow {
  background-color: #fff;
  background-image: none;
  border-left: 0;
}

.select2-container .select2-choice .select2-arrow b {
  background-position: 0 3px;
}

.select2-dropdown-open .select2-choice {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -18px 4px;
}

.views-operator {
  margin-left: 15px;
}

.views-widget {
  margin-left: -1px;
}

#edit-search-api-views-fulltext {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  position: relative;
}

#edit-search-api-views-fulltext-wrapper label,
#edit-search-api-views-fulltext-wrapper .views-operator,
#edit-search-api-views-fulltext-wrapper .views-widget {
  float: left;
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}


/* Facets */
/* ------ */


/* Wrapper and base class */
.facetapi-facetapi-links {
  list-style: none;
  padding-left: 0;
}

.facetapi-facetapi-links > li {
  display: block;
}

/* Active links */

.facetapi-facetapi-links > li > .facetapi-active {
  color: #000;
  display: inline-block;
  filter: alpha(opacity=20);
  font-size: 21px;
  line-height: 1;
  margin-left: 7px;
  margin-right: 5px;
  opacity: .2;
  position: relative;
  text-shadow: 0 1px 0 #fff;
  top: 1px;
}

.facetapi-facetapi-links > li > .facetapi-active:hover {
  color: #000;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
  text-decoration: none;
}

/* Inactive links */

.facetapi-facetapi-links > li > .facetapi-inactive {
  color: #666;
  display: block;
  padding: 3px 7px;
}

.facetapi-facetapi-links > li > .facetapi-inactive:hover {
  background-color: #ebebeb;
  border-radius: 4px;
  text-decoration: none;
}

.facetapi-facetapi-links > li > .facetapi-inactive:before,
.facetapi-facetapi-links > li > .facetapi-inactive:after {
  content: " ";
  display: table;
}

.facetapi-facetapi-links > li > .facetapi-inactive:after {
  clear: both;
}

.facetapi-facetapi-links > li > .facetapi-inactive > .pull-right {
  color: #969696;
}

/* Limit link */
.facetapi-limit-link {
  font-size: 13px;
}

/* Highlighted results */
.select2-results .select2-highlighted {
  background-color: #00d554;
  background-image: -o-linear-gradient(left, #ed9f0d 0%, #ea7c0f 100%);
  background-image: -webkit-linear-gradient(left, #ed9f0d 0%, #ea7c0f 100%);
  background-image: linear-gradient(to right, #ed9f0d 0%, #ea7c0f 100%);
  background-repeat: repeat-x;
  border-radius: 4px;
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffed9f0d', endColorstr='#ffea7c0f', GradientType=1);
}

.select2-search .select2-input {
  -o-transition: border-color ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s;
  background: #fff;
  border-color: #ddd;
  border-radius: 3px;
  height: 34px;
  padding: 6px 12px;
  transition: border-color ease-in-out .15s;
}

.select2-search .select2-input:focus {
  border-color: #336696;
}
