#nav-header {
  background-color: #333;
  color: #fff;
  font-size: 80%;
}

#nav-header a {
  color: #fff;
}

#nav-header .list-languages {
  float: right;
}

#nav-header > .list-quicklinks {
  float: left;
}

#nav-header > .list-inline {
  margin-bottom: 0;
  margin-left: 0;
  padding: 5px 10px;
}

#nav-header > .list-inline > li {
  border-right: 1px solid #999;
}

#nav-header > .list-inline > li:last-child {
  border-right: 0;
}

.navbar-unep {
  background-color: #008def;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
}

.navbar-unep .navbar-brand {
  height: 110px;
}

.navbar-unep .navbar-text {
  color: #fff;
}

.navbar-unep .navbar-nav > li > a {
  color: #fff;
  font-size: 80%;
  font-weight: bold;
  padding: 0;
  text-align: center;
  width: 80px;
}

.navbar-unep .navbar-nav > li > a:hover,
.navbar-unep .navbar-nav > li > a:focus {
  color: #fff;
  text-decoration: underline;
}

.navicon {
  background-image: url('../img/icons-nav.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 36px;
  width: 50px;
}

.navicon-cc {
  background-position: 8px 0;
}

a:hover .navicon-cc,
a:focus .navicon-cc {
  background-position: 8px -38px;
}

.navicon-dnc {
  background-position: -47px 0;
}

a:hover .navicon-dnc,
a:focus .navicon-dnc {
  background-position: -47px -38px;
}

.navicon-em {
  background-position: -95px 0;
}

a:hover .navicon-em,
a:focus .navicon-em {
  background-position: -95px -38px;
}

.navicon-eg {
  background-position: -138px 0;
}

a:hover .navicon-eg,
a:focus .navicon-eg {
  background-position: -138px -38px;
}

.navicon-hs {
  background-position: -193px 0;
}

a:hover .navicon-hs,
a:focus .navicon-hs {
  background-position: -193px -38px;
}

.navicon-re {
  background-position: -246px 0;
}

a:hover .navicon-re,
a:focus .navicon-re {
  background-position: -246px -38px;
}

.navicon-eur {
  background-position: -303px 0;
}

a:hover .navicon-eur,
a:focus .navicon-eur {
  background-position: -303px -38px;
}

.navbar-leo {
  background-color: #00d554;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
}

.navbar-leo .navbar-brand {
  height: 81px;
}

.navbar-leo .navbar-text {
  color: #fff;
}

.navbar-leo .navbar-nav > li > a {
  color: #fff;
  padding: 10px 15px;
}

.navbar-leo .navbar-nav > li > a:hover,
.navbar-leo .navbar-nav > li > a:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.175);
  color: #333;
  border-radius: 4px;
}

#footer {
  background-color: #666;
  color: #fff;
  font-size: 80%;
  margin-top: 20px;
  padding-bottom: 0;
  padding-top: 0;
}

#footer a {
  color: #fff;
}

#footer > .list-quicklinks {
  float: left;
}

#footer > .list-social-media {
  float: right;
  margin-top: 3px;
}

#footer > .list-quicklinks,
#footer > .list-social-media {
  margin-bottom: 0;
  margin-left: 0;
  padding: 5px 10px;
}
