/* Typography */
/* ---------- */


/* Headings */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 300;
}

/* Blocks */

.block-title {
  border-bottom: 1px solid #eee;
  font-size: 18px;
  padding-bottom: 9px;
}


/* Tables */
/* ------ */


/* Sticky header */

.sticky-header {
  z-index: 10;
}

.sticky-header > thead > tr > th,
.sticky-header > tbody > tr > th,
.sticky-header > tfoot > tr > th {
  border-bottom: 2px solid #ddd;
  padding: 8px;
  vertical-align: bottom;
}

/* List groups in tables */

.table td > .list-group {
  margin: -8px;
}

.table td > .list-group > .list-group-item {
  border-left: 0;
  border-right: 0;
}

.table td > .list-group > .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}

.table td > .list-group > .list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

/* Parties table */

#table-parties .dl-horizontal {
  margin-bottom: 0;
}


/* Navs */
/* ---- */


/* Header */

#nav-header {
  background-color: #333;
  color: #fff;
  font-size: 80%;
}

#nav-header a {
  color: #fff;
}

#nav-header > .list-inline {
  margin-bottom: 0;
  margin-left: 0;
  padding: 5px 10px;
}

#nav-header .list-languages {
  float: right;
}

#nav-header > .list-quicklinks {
  float: left;
}

#nav-header > .list-inline > li {
  border-right: 1px solid #999;
}

#nav-header > .list-inline > li:last-child {
  border-right: 0;
}


/* Navbars */
/* ------- */


/* UNEP variation */

/* Wrapper and base class */
.navbar-unep {
  background-color: #008def;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
}

/* Brand/project name */
.navbar-unep .navbar-brand {
  height: 110px;
  margin-top: 13px;
}

/* Text in navbars */
.navbar-unep .navbar-text {
  color: #fff;
  margin-top: 47px;
}

/* Navbar nav links */

.navbar-unep .navbar-nav {
  margin-bottom: 8px;
}

.navbar-unep .navbar-nav > li > a {
  color: #fff;
  font-size: 80%;
  font-weight: bold;
  padding: 0;
  text-align: center;
  width: 80px;
}

.navbar-unep .navbar-nav > li > a:hover,
.navbar-unep .navbar-nav > li > a:focus {
  color: #fff;
  text-decoration: underline;
}

/* Navbar icons */

/* Base class */
.navicon {
  background-image: url('../img/icons-nav.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 36px;
  width: 50px;
}

/* Climate change */

.navicon-cc {
  background-position: 8px 0;
}

a:hover .navicon-cc,
a:focus .navicon-cc {
  background-position: 8px -38px;
}

/* Disasters and conflicts */

.navicon-dnc {
  background-position: -47px 0;
}

a:hover .navicon-dnc,
a:focus .navicon-dnc {
  background-position: -47px -38px;
}

/* Ecosystem management */

.navicon-em {
  background-position: -95px 0;
}

a:hover .navicon-em,
a:focus .navicon-em {
  background-position: -95px -38px;
}

/* Environmental governance */

.navicon-eg {
  background-position: -138px 0;
}

a:hover .navicon-eg,
a:focus .navicon-eg {
  background-position: -138px -38px;
}

/* Chemicals and waste */

.navicon-cnw {
  background-position: -193px 0;
}

a:hover .navicon-cnw,
a:focus .navicon-cnw {
  background-position: -193px -38px;
}

/* Resource efficiency */

.navicon-re {
  background-position: -246px 0;
}

a:hover .navicon-re,
a:focus .navicon-re {
  background-position: -246px -38px;
}

/* Environment under review */

.navicon-eur {
  background-position: -303px 0;
}

a:hover .navicon-eur,
a:focus .navicon-eur {
  background-position: -303px -38px;
}

/* LEO variation */

/* Wrapper and base class */
.navbar-leo {
  background-color: #00d554;
  border-radius: 0;
  border: 0;
}

/* Brand/project name */
.navbar-leo .navbar-brand {
  height: 81px;
}

/* Text in navbars */
.navbar-leo .navbar-text {
  color: #fff;
  margin-top: 30px;
}

/* Navbar nav links */

.navbar-leo .navbar-nav {
  margin-top: 25px;
}

.navbar-leo .navbar-nav > li > a {
  color: #fff;
  padding: 5px 10px;
}

.navbar-leo .navbar-nav > li > a:hover,
.navbar-leo .navbar-nav > li > a:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.175);
  color: #333;
  border-radius: 4px;
}

/* Navbar form */

.navbar-leo .navbar-form {
  margin-top: 25px;
}

.navbar-search > .input-group {
  position: relative;
}

.navbar-search > .input-group > .form-control {
  -o-transition: all 0.3s ease;
  -webkit-box-shadow: none;
  -webkit-transition: all 0.3s ease;
  border-bottom-right-radius: 3px;
  border-color: transparent;
  border-top-right-radius: 3px;
  box-shadow: none;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  padding-left: 22px;
  transition: all 0.3s ease;
  width: 34px;
  z-index: 20;
}

.navbar-search > .input-group > .form-control:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.175);
  cursor: text;
  filter: alpha(opacity=100);
  opacity: 1;
  padding-left: 33px;
  width: 174px;
}

.navbar-search > .input-group > .input-group-btn {
  left: 1px;
  position: absolute;
  z-index: 10;
}

.navbar-search > .input-group > .input-group-btn > .btn {
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.navbar-search > .input-group > .form-control:focus + .input-group-btn {
  z-index: 30;
}

.navbar-search > .input-group > .form-control:focus + .input-group-btn > .btn {
  color: inherit;
}


/* Breadcrumbs */
/* ----------- */


.breadcrumb {
  background-color: transparent;
  font-size: 80%;
  margin-bottom: 10px;
  padding: 0;
}


/* Main content */
/* ------------ */


#main-content {
  margin-top: 0;
}

/* Panels */
/* ------ */


/* Collapsable panels */

.panel-group .panel {
  -webkit-box-shadow: none;
  border: 0;
  box-shadow: none;
}

.panel-group .panel + .panel {
  border-top: 1px solid #ddd;
  margin-top: 0;
}

.panel-group .panel-heading {
  background-color: #fff;
  padding: 8px;
}

.panel-group .panel-heading:hover {
  cursor: pointer;
}

.panel-group .panel-heading:hover,
.panel-group .panel-heading.collapsed:hover {
  background-color: #e8e8e8;
}

.panel-group .panel-title:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  content: "\e082";
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  margin-right: 5px;
  vertical-align: top;
}

.panel-group .collapsed .panel-title:before {
  content: "\e081";
}

.panel-group .panel-collapse > .table {
  border-top: 1px solid #ddd;
}


/* Pagination (multiple pages) */
/* --------------------------- */


.pagination {
  display: block;
}

.pagination > li {
  display: inline-block;
}

.pagination > li.prev {
  float: left;
}

.pagination > li.next {
  float: right;
}

.pagination > li > a,
.pagination > li > span {
  border-color: transparent;
  border-radius: 4px;
  border-width: 2px;
  color: #777;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #fff;
  border-color: #eee;
  color: #777;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #777;
  background-color: #eee;
  border-color: #eee;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  border-color: transparent;
  color: #999;
}


/* Footer */
/* ------ */


#footer {
  background-color: #666;
  color: #fff;
  font-size: 80%;
  margin-top: 20px;
  padding-bottom: 0;
  padding-top: 0;
}

#footer a {
  color: #fff;
}

#footer > .list-quicklinks {
  float: left;
}

#footer > .list-social-media {
  float: right;
  margin-top: 3px;
}

#footer > .list-quicklinks,
#footer > .list-social-media {
  margin-bottom: 0;
  margin-left: 0;
  padding: 5px 10px;
}
