/* Scaffolding */
/* ----------- */


/* Links */

a {
  color: #0080d5;
}

a:hover,
a:focus {
  color: #005289;
}


/* Typography */
/* ---------- */
h1 {
  font-size: 2.2em;
  font-weight: normal;
  margin-top: 5px;
}

/* Section header */
.section-header .btn.pull-right {
  margin-top: -4px;
}

.breadcrumb {
  margin: -15px 0 0 0;
  font-size: 85%;
  background-color: transparent;
  padding: 0;
}

.breadcrumb>.last {
  color: #c6cedb;
}

.page-header {
  border-bottom: 1px solid #c6cedb;
}

/* Lists */

/* Inline option */
.list-inline {
  margin-right: -5px;
}

/* Tree list */

.list-tree {
  list-style: none;
  padding-left: 16px;
}

.list-tree .toggle {
  margin-left: -16px;
}


/* Buttons */
/* ------- */


/* Alternate buttons */

.btn { border-radius: 0; }

.btn-primary {
  background-color: #0099d5;
  border-color: #267399;
}

.btn-primary:hover,
.btn-primary:focus {
  text-decoration: none;
  color: #999;
  border-color: #c6cedb;
  text-shadow: none;
  background: #F3F3F3;
}

.btn-primary:active {
  background-color: #ffcc66;
  border-color: #ffcc33;
  color: #16232e;
}

.btn-print {
  text-shadow: none;
  color: #fff;
  background-color: #0099D5;
  background-image: -moz-linear-gradient(top,#0099D5,#267399);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#0099D5),to(#267399));
  background-image: -webkit-linear-gradient(top,#0099D5,#267399);
  background-image: -o-linear-gradient(top,#0099D5,#267399);
  background-image: linear-gradient(to bottom,#0099D5,#267399);
  background-repeat: repeat-x;
  border-color: #267399;
}

/* Outline buttons */

.btn-outline {
  background-color: transparent;
  border-color: #333;
  color: #333;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  background-color: #333;
  color: #fff;
}


/* Dropdown menus */
/* -------------- */


/* Dropdown menu */

.dropdown-menu {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 0;
  border: 2px solid #ffcc66;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

/* Hover/Focus state */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #0099d5;
  color: #fff;
}

/* Active state */
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #0099d5;
}

/* Dropdown section headers */
.dropdown-header {
  color: #16232e;
  font-weight: bold;
}


/* Full-width dropdown menu */

.dropdown-full-width > .dropdown-menu > li[class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.dropdown-full-width > .dropdown-menu > li > ul,
.dropdown-full-width > .dropdown-menu > li > ul > li > ul {
  padding: 0;
}

.dropdown-full-width > .dropdown-menu > li > ul > li,
.dropdown-full-width > .dropdown-menu > li > ul > li > ul > li {
  list-style: none;
}

.dropdown-full-width > .dropdown-menu > li > ul > li > a,
.dropdown-full-width > .dropdown-menu > li > ul > li > ul > li > a {
  display: block;
  padding: 3px 20px;
}

.dropdown-full-width > .dropdown-menu > li > ul > li > ul > li > a {
  padding-left: 40px;
}

@media (min-width: 768px) {
  .dropdown-full-width > .dropdown-menu {
    left: 0;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    right: 0;
  }

  .dropdown-full-width > .dropdown-menu > li > ul > li > ul {
    overflow: hidden;
  }

  .dropdown-full-width > .dropdown-menu > li > ul > li > ul > li {
    position: relative;
  }

  .dropdown-full-width > .dropdown-menu > li > ul > li > ul > li:before {
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    content: '';
    display: block;
    height: 100px;
    left: 25px;
    position: absolute;
    top: -85px;
    width: 10px;
    z-index: -1;
  }
}

@media (max-width: 767px) {
  .dropdown-full-width > .dropdown-menu {
    margin-left: 0;
    margin-right: 0;
  }

  .dropdown-full-width > .dropdown-menu > li > ul > li > a,
  .dropdown-full-width > .dropdown-menu > li > ul > li > ul > li > a {
    padding: 5px 15px 5px 25px;
  }

  .dropdown-full-width > .dropdown-menu > li > ul > li > ul > li > a {
    padding-left: 50px;
  }
}


/* Navs */
/* ---- */


/* Text in navs */
.nav-text {
  display: block;
  padding: 10px 15px;
  position: relative;
}


/* Stacked pills*/

.nav-pills.nav-stacked {
  -webkit-box-shadow: 0 0 1px rgba(138, 149, 166, 0.5) inset;
  background-color: #f3f3f3;
  box-shadow: 0 0 1px rgba(138, 149, 166, 0.5) inset;
  padding-bottom: 8px;
  padding-top: 8px;
}

.nav-pills.nav-stacked > li > a {
  border-radius: 0;
  border-right: 4px solid transparent;
  padding: 6px 12px;
}

.nav-pills.nav-stacked > li > a:hover,
.nav-pills.nav-stacked > li > a:focus,
.nav-pills.nav-stacked > li.active > a:hover,
.nav-pills.nav-stacked > li.active > a:focus {
  background-color: #0099d5;
  color: #fff;
}

.nav-pills.nav-stacked > li > a:hover > .badge,
.nav-pills.nav-stacked > li > a:focus > .badge,
.nav-pills.nav-stacked > li.active > a:hover > .badge,
.nav-pills.nav-stacked > li.active > a:focus > .badge {
  background-color: #fff;
  color: #0099d5;
}

.nav-pills.nav-stacked > li.active > a {
  background-color: transparent;
  border-right-color: #39c;
  color: #0080d5;
}

.nav-pills.nav-stacked > li.active > a > .badge {
  background-color: #999;
  color: #fff;
}


/* Navbars */
/* ------- */


/* Wrapper and base class */

.navbar {
  border: 0;
  height: 68px;
}

.navbar-nav>li>.dropdown-menu {
  margin-top: -4px;
}

.navbar ul li { text-transform: uppercase; }
.navbar ul li a { padding-left: 10px; padding-right: 10px; }

.navbar ul.dropdown-menu li {
  text-transform: none;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}

.navbar > .container {
  position: relative;
}


/* Navbar collapse */

.navbar-collapse {
  -webkit-box-shadow: 0 1px 0 rgba(247, 247, 247, 0.25) inset;
  box-shadow: 0 1px 0 rgba(247, 247, 247, 0.25) inset;
}

@media (min-width: 768px) {
  .navbar-collapse {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}


/* Navbar alignment options */

/* Static top navbar */
.navbar-static-top + .hero-unit {
  margin-top: -20px;
}


/* Navbar toggle */

.navbar-toggle {
  margin-bottom: 16px;
  margin-top: 16px;
}


/* Navbar nav links */

.navbar-nav > li > a {
  padding-bottom: 25px;
  padding-top: 25px;
}

@media (max-width: 767px) {
  .navbar-nav > li > a {
    padding-bottom: 15px;
    padding-top: 15px;
  }
}

.navbar-nav .dropdown-full-width {
  position: static;
}


/* Navbar form */

.navbar-form {
  margin-bottom: 18px;
  margin-top: 18px;
}

@media (max-width: 767px) {
  .navbar-form {
    margin-bottom: 8px;
    margin-top: 8px;
  }

  .navbar-form:last-child,
  .navbar-form:last-child .form-group {
    margin-bottom: 0;
  }
}


/* Default navbar */

.navbar-default {
  background-image: -o-linear-gradient(top, #0099d5 0%, #267399 100%);
  background-image: -webkit-linear-gradient(top, #0099d5 0%, #267399 100%);
  background-image: linear-gradient(to bottom, #0099d5 0%, #267399 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0099d5', endColorstr='#ff267399', GradientType=0);
}

.navbar-default .navbar-nav {
  border-left: 1px solid rgba(26, 58, 111, 0.25);
  border-right: 1px solid rgba(247, 247, 247, 0.25);
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav {
    border-left: 0;
    border-right: 0;
  }
}

.navbar-default .navbar-nav > li > a {
  border-left: 1px solid rgba(247, 247, 247, 0.25);
  border-right: 1px solid rgba(26, 58, 111, 0.25);
  color: #fff;
  font-size: 14px;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav > li > a {
    border-left: 0;
    border-right: 0;
  }
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #8a95a6;
  background-color: #eee;
}

.navbar-default .navbar-nav > li > a:active {
  color: #16232e;
  background-color: #ffcc66;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #16232e;
  background-color: #eee;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #f3f3f3;
  border-color: #c6cedb;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #8a95a6;
}

.navbar-default .navbar-toggle:active {
  background-color: #ffcc66;
  border-color: #ffcc33;
}

.navbar-default .navbar-toggle:active .icon-bar {
  background-color: #16232e;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: rgba(26, 58, 111, 0.25);
}

#search-form { width: 280px; }
#search-form input { border: 1px solid #fc3; border-radius: 2px; height: 36px; width: 100%; }

#search-form button { border: 1px solid #fc3; background-color: #fc3; border-radius: 0 2px 2px 0; width: 50px; height: 36px; }


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > .dropdown-header,
  .navbar-default .navbar-nav .open .dropdown-menu > li > ul > .dropdown-header {
    color: #fff;
  }

  .navbar-default .navbar-nav .open .dropdown-menu .divider {
    background-color: rgba(247, 247, 247, 0.25);
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a,
  .navbar-default .navbar-nav .open .dropdown-menu > li > ul > li > a,
  .navbar-default .navbar-nav .open .dropdown-menu > li > ul > li > ul > li > a {
    color: #c6cedb;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > ul > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > ul > li > ul > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > li > ul > li > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > li > ul > li > ul > li > a:focus {
    color: #fff;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > ul > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > ul > li > ul > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > ul > li > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > li > ul > li > ul > li > a:focus {
    text-decoration: none;
  }
}


/* Badges */
/* ------ */


/* Base class */
.badge {
  background-color: #999;
}


/* Wells */
/* ----- */


/* Well backgrounds */

.well {
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: none;
}

.well-transparent {
  border-radius: 0;
  -webkit-box-shadow: none;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}


/* Hover effect */
.well-hover:hover {
  cursor: pointer;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(38, 115, 153, .05);
  background-color: #e5f5fb;
  border: 1px solid #39c;
  box-shadow: inset 0 1px 1px rgba(38, 115, 153, .05);
}


/* Toggle icons */
/* ------------ */

.toggle {
  color: #000;
  filter: alpha(opacity=20);
  font-size: 85%;
  opacity: .2;
  text-shadow: 0 1px 0 #fff;
}

.toggle:hover,
.toggle:focus {
  color: #000;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
  text-decoration: none;
}

button.toggle {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}


/* Broadcast */
/* --------- */

/* Base class */

.broadcast {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  background-color: #ffcc66;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  padding: 3px;
}

/* Broadcast contents */

.broadcast-body {
  border-radius: 3px;
  border: 1px dashed #7f6633;
  color: #333;
  font-size: 16px;
  line-height: 1.4;
  padding: 6px;
  text-align: center;
}

@media (min-width: 768px) {
  .broadcast-body {
    font-size: 21px;
  }
}

.broadcast-body em {
  font-family: Georgia, serif;
  vertical-align: middle;
}

/* Outline buttons */
.broadcast-body .btn-outline:hover,
.broadcast-body .btn-outline:focus,
.broadcast-body .btn-outline:active {
  color: #ffcc66;
}


/* Hero unit */
/* --------- */


/* Wrapper and base class */

.hero-unit {
  background-color: #1a3a6f;
  color: #fff;
  margin-bottom: 45px;
  padding-bottom: 20px;
  padding-top: 35px;
}

.hero-unit a:hover,
.hero-unit a:focus {
  color: #ffcc66;
}

/* Broadcast */

.hero-unit .broadcast {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 15px;
  margin-top: -35px;
}

.hero-unit .broadcast-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* Carousel */
/* -------- */


.carousel-container {
  padding: 0 30px;
}

.carousel-inner {
  border-radius: 4px;
}

.carousel-indicators {
  bottom: auto;
  left: auto;
  margin-bottom: 0;
  margin-left: 0;
  right: 10px;
  top: 5px;
  width: auto;
}

.carousel-indicators li {
  background-color: #fff;
  border: 0;
  margin: 0 3px;
}

.carousel-indicators li:hover,
.carousel-indicators li:focus {
  background-color: #ffcc66;
}

.carousel-indicators .active {
  background-color: #0099d5;
  height: 10px;
  margin: 0 3px;
  width: 10px;
}

.carousel-control {
  color: #999;
  filter: alpha(opacity=100);
  opacity: 1;
  text-shadow: none;
  width: 30px;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #ffcc66;
  filter: alpha(opacity=100);
  opacity: 1;
}

.carousel-control.left {
  left: -30px;
}

.carousel-control.right {
  right: -30px;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  background-image: none;
  display: inline-block;
  font-size: 16px;
  height: 16px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  width: 16px;
  z-index: 5;
}

.carousel-control .glyphicon-chevron-left {
  left: 0;
  margin-left: 7px;
}

.carousel-control .glyphicon-chevron-right {
  margin-right: 7px;
  right: 0;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, .6);
  bottom: 0;
  left: 0;
  padding: 1em;
  right: 0;
  text-align: left;
  text-shadow: none;
}

.carousel-caption .media-left > a {
  background-color: #fff;
  border-radius: 2px;
  display: block;
}

.carousel-caption a {
  color: #ffcc66;
}

.carousel-caption strong {
  color: #fff;
}

.carousel-caption p {
  margin-bottom: 0;
}


/* Country selector */
/* ---------------- */


/* Wrapper and base class */

.country-selector {
  position: relative;
}


/* Form alignment */

.country-selector > form {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}

.country-selector > form > .form-control {
  margin-left: auto;
  margin-right: auto;
  margin-top: -15px;
  width: 240px;
}


/* Maps */
/* ---- */


/* Wrapper and base class */

.map {
  height: 500px;
  width: 100%;
}


/* Countries */
/* --------- */


/* Country base class */

.country {
  display: block;
  line-height: 1.42857143;
  margin-bottom: 20px;
  padding: 4px;
  text-align: center;
}

/* Country names */
.country-name {
  overflow: hidden;
  padding: 9px;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* Brands */
/* ------ */


/* Brand base class */

.brand {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.brand .image {
  background-image: url('../img/logos.png');
  background-repeat: no-repeat;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
}


/* Hover effect */
.brand-hover:hover,
.brand-hover:focus {
  border-radius: 2px;
  background-color: #f3f3f3;
  color: #444;
  text-decoration: none;
}

/* Brand groups */

.brand-group {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  position: relative;
  vertical-align: middle;
}

.brand-group > .brand {
  border: 1px solid #e3e3e3;
  float: left;
  min-width: 110px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}

.brand-group > .brand:hover,
.brand-group > .brand:focus {
  background-color: #e5f5fb;
  border-color: #0099d5;
  text-decoration: none;
  z-index: 2;
}

.brand-group .brand + .brand {
  margin-left: -1px;
}

.brand-group > .brand:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.brand-group > .brand:last-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

/* Individual brands */

.brand-itpgrfa .image,
.brand-plant-treaty .image,
.brand-hover.brand-itpgrfa:hover .image,
.brand-hover.brand-plant-treaty:hover .image,
.brand-hover.brand-itpgrfa:focus .image,
.brand-hover.brand-plant-treaty:focus .image {
  background-position: -60px 0;
}

.brand-hover.brand-itpgrfa .image,
.brand-hover.brand-plant-treaty .image {
  background-position: -60px -60px;
}

.brand-stockholm .image,
.brand-hover.brand-stockholm:hover .image,
.brand-hover.brand-stockholm:focus .image {
  background-position: -120px 0;
}

.brand-hover.brand-stockholm .image {
  background-position: -120px -60px;
}

.brand-un .image,
.brand-hover.brand-un:hover .image,
.brand-hover.brand-un:focus .image {
  background-position: -300px 0;
}

.brand-hover.brand-un .image {
  background-position: -300px -60px;
}

.brand-basel .image,
.brand-hover.brand-basel:hover .image,
.brand-hover.brand-basel:focus .image {
  background-position: -360px 0;
}

.brand-hover.brand-basel .image {
  background-position: -360px -60px;
}

.brand-ozone .image,
.brand-hover.brand-ozone:hover .image,
.brand-hover.brand-ozone:focus .image {
  background-position: -420px 0;
}

.brand-hover.brand-ozone .image {
  background-position: -420px -60px;
}

.brand-unccd .image,
.brand-hover.brand-unccd:hover .image,
.brand-hover.brand-unccd:focus .image {
  background-position: -480px 0;
}

.brand-hover.brand-unccd .image {
  background-position: -480px -60px;
}

.brand-cbd .image,
.brand-cartagena .image,
.brand-nagoya .image,
.brand-hover.brand-cbd:hover .image,
.brand-hover.brand-cartagena:hover .image,
.brand-hover.brand-nagoya:hover .image,
.brand-hover.brand-cbd:focus .image,
.brand-hover.brand-cartagena:focus .image,
.brand-hover.brand-nagoya:focus .image {
  background-position: -540px 0;
}

.brand-hover.brand-cbd .image,
.brand-hover.brand-cartagena .image,
.brand-hover.brand-nagoya .image {
  background-position: -540px -60px;
}

.brand-unece .image,
.brand-hover.brand-unece:hover .image,
.brand-hover.brand-unece:focus .image {
  background-position: -660px 0;
}

.brand-hover.brand-unece .image {
  background-position: -660px -60px;
}

.brand-cites .image,
.brand-hover.brand-cites:hover .image,
.brand-hover.brand-cites:focus .image {
  background-position: -720px 0;
}

.brand-hover.brand-cites .image {
  background-position: -720px -60px;
}

.brand-ramsar .image,
.brand-hover.brand-ramsar:hover .image,
.brand-hover.brand-ramsar:focus .image {
  background-position: -780px 0;
}

.brand-hover.brand-ramsar .image {
  background-position: -780px -60px;
}

.brand-unep .image,
.brand-minamata .image,
.brand-vienna .image,
.brand-montreal .image,
.brand-hover.brand-unep:hover .image,
.brand-hover.brand-minamata:hover .image,
.brand-hover.brand-vienna:hover .image,
.brand-hover.brand-montreal:hover .image,
.brand-hover.brand-unep:focus .image,
.brand-hover.brand-minamata:focus .image,
.brand-hover.brand-vienna:focus .image,
.brand-hover.brand-montreal:focus .image {
  background-position: -840px 0;
}

.brand-hover.brand-unep .image,
.brand-hover.brand-minamata .image,
.brand-hover.brand-vienna .image,
.brand-hover.brand-montreal .image {
  background-position: -840px -60px;
}

.brand-cms .image,
.brand-hover.brand-cms:hover .image,
.brand-hover.brand-cms:focus .image {
  background-position: -900px 0;
}

.brand-hover.brand-cms .image {
  background-position: -900px -60px;
}

.brand-unesco .image,
.brand-hover.brand-unesco:hover .image,
.brand-hover.brand-unesco:focus .image {
  background-position: -1020px 0;
}

.brand-hover.brand-unesco .image {
  background-position: -1020px -60px;
}

.brand-fao .image,
.brand-hover.brand-fao:hover .image,
.brand-hover.brand-fao:focus .image {
  background-position: -1080px 0;
}

.brand-hover.brand-fao .image {
  background-position: -1080px -60px;
}

.brand-rotterdam .image,
.brand-hover.brand-rotterdam:hover .image,
.brand-hover.brand-rotterdam:focus .image {
  background-position: -1140px 0;
}

.brand-hover.brand-rotterdam .image {
  background-position: -1140px -60px;
}

.brand-unfccc .image,
.brand-kyoto .image,
.brand-hover.brand-unfccc:hover .image,
.brand-hover.brand-kyoto:hover .image,
.brand-hover.brand-unfccc:focus .image,
.brand-hover.brand-kyoto:focus .image {
  background-position: -1200px 0;
}

.brand-hover.brand-unfccc .image,
.brand-hover.brand-kyoto .image {
  background-position: -1200px -60px;
}

.brand-whc .image,
.brand-hover.brand-whc:hover .image,
.brand-hover.brand-whc:focus .image {
  background-position: -1380px 0;
}

.brand-hover.brand-whc .image {
  background-position: -1380px -60px;
}

.brand-eu .image {
  background-image: url('../img/logo-eu.png');
  width: 88px;
}


/* Footer */
/* ------ */


/* Wrapper and base class */
.footer {
  background-color: #16232e;
  border-top: 2px solid #8a95a6;
  color: #505c6a;
  font-size: 90%;
}


/* Footer sections */

.footer-section {
  border-bottom: 1px solid #505c6a;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.footer-section:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Footer inline lists */
.footer-section > .list-inline {
  margin-bottom: 0;
}


/* Footer links */

.footer a {
  color: #8a95a6;
}

.footer a:hover,
.footer a:focus {
  color: #c6cedb;
}

/* Horizontal dividers */
.footer ul .divider {
  background-color: #505c6a;
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
}

/* Footer brands */
.footer .brand-hover:hover,
.footer .brand-hover:focus {
  color: #444;
}

/* Modal dialog */
.modal-body {
  margin-top: 0;
}


/* Pages */
/* ----- */


/* Front page */

@media (max-width: 991px) {
  #col-about {
    margin-bottom: 30px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  #col-about {
    padding-top: 50px;
  }
}

#col-carousel .carousel {
  margin: 0 auto;
  max-width: 495px;
}

#row-features .well h3 {
  margin-top: 0;
}

#col-countries .well {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  #row-features .well {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #col-terms .description,
  #col-treaties .regions {
    min-height: 100px;
  }

  #col-treaties .description {
    padding-bottom: 5px;
  }
}

@media (min-width: 1200px) {
  #col-terms .description,
  #col-treaties .regions {
    min-height: 80px;
  }

  #col-treaties .description {
    padding-bottom: 24px;
    padding-top: 24px;
  }
}

/* Treaties page */

body.page-treaties h3 { font-size: 1.2em; margin-top: 0; font-weight: normal; }
body.page-treaties div.regional { margin-top: 25px; }

#table-treaties thead th, #table-treaties thead td { border: 0; }

#table-treaties {
  margin-bottom: 0;
}

#table-treaties td {
  vertical-align: middle;
}

#table-treaties h4 {
  margin-top: 0;
}

/* Treaty page */
body.node-type-treaty .highlight { background-color: #fc3; }
body.node-type-treaty div.field { margin-bottom: 3px; }
body.node-type-treaty div.field-name-body { margin-bottom: 10px; }
body.node-type-treaty div.field-label { min-width: 150px; }

#accordion div.panel { border: 0; box-shadow: none; -moz-box-shadow: none; }
#accordion div.panel-heading { padding-left: 0; background-color: transparent; }

body.node-type-treaty div.panel-heading a.permalink, a.administrative { display: none;  }
body.node-type-treaty div.panel-heading:hover a.permalink,
body.node-type-treaty div.panel-heading:hover a.administrative { display: block; }

body.node-type-treaty div.paragraph a.permalink, a.administrative { display: none;  }
body.node-type-treaty div.paragraph:hover a.permalink,
body.node-type-treaty div.paragraph:hover a.administrative { display: inline; }
body.node-type-treaty div.paragraph:hover { background-color: #f0f0f0; }

.smallipop-instance a{ color: white; text-transform: none; text-shadow: none; }

ul.media-list>li.media>ul.media-list li { padding-left: 50px; }

#accordion .panel-heading h4 { display: inline; margin-left: 15px; }
#accordion .panel-heading .meta { text-align: right; font-size: 12px; color: #999; font-weight: normal; }
#accordion .panel-heading ul { margin: 0; }
#accordion .panel-heading .glyphicon-plus-sign { color: #c6cedb; font-size: 14px; }
#accordion .panel { margin: 0; border-bottom: 1px solid #ddd; border-radius: 0; }
#accordion .panel-heading { padding: 5px 0 5px 5px; border: 1px solid transparent; cursor: pointer; margin: 0; border-radius: 0; }
#accordion .panel-heading:hover { border: 1px solid #39c; background-color: #D2EEFC; }
#accordion .panel-collapse { margin-left: 5px; }
img.flag-xs { max-height: 16px; }
img.flag-small { max-height: 32px; }
