/* Scaffolding */
/* ----------- */


/* Links */

a {
  color: #0080d5;
}

a:hover,
a:focus {
  color: #005289;
}


/* Typography */
/* ---------- */


/* Lists */

/* Inline option */
.list-inline {
  margin-right: -5px;
}


/* Buttons */
/* ------- */


/* Alternate buttons */

.btn-primary {
  background-color: #0099d5;
  border-color: #267399;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #f3f3f3;
  border-color: #c6cedb;
  color: #8a95a6;
}

.btn-primary:active {
  background-color: #ffcc66;
  border-color: #ffcc33;
  color: #16232e;
}

/* Outline buttons */

.btn-outline {
  background-color: transparent;
  border-color: #333;
  color: #333;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  background-color: #333;
  color: #fff;
}


/* Dropdown menus */
/* -------------- */


/* Dropdown menu */

.dropdown-menu {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 0;
  border: 2px solid #ffcc66;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

/* Hover/Focus state */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #0099d5;
  color: #fff;
}

/* Dropdown section headers */
.dropdown-header {
  color: #16232e;
  font-weight: bold;
}


/* Full-width dropdown menu */

.dropdown-full-width > .dropdown-menu > li[class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.dropdown-full-width > .dropdown-menu > li > ul,
.dropdown-full-width > .dropdown-menu > li > ul > li > ul {
  padding: 0;
}

.dropdown-full-width > .dropdown-menu > li > ul > li,
.dropdown-full-width > .dropdown-menu > li > ul > li > ul > li {
  list-style: none;
}

.dropdown-full-width > .dropdown-menu > li > ul > li > a,
.dropdown-full-width > .dropdown-menu > li > ul > li > ul > li > a {
  display: block;
  padding: 3px 20px;
}

.dropdown-full-width > .dropdown-menu > li > ul > li > ul > li > a {
  padding-left: 40px;
}

@media (min-width: 768px) {
  .dropdown-full-width > .dropdown-menu {
    left: 0;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    right: 0;
  }

  .dropdown-full-width > .dropdown-menu > li > ul > li > ul {
    overflow: hidden;
  }

  .dropdown-full-width > .dropdown-menu > li > ul > li > ul > li {
    position: relative;
  }

  .dropdown-full-width > .dropdown-menu > li > ul > li > ul > li:before {
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    content: '';
    display: block;
    height: 100px;
    left: 25px;
    position: absolute;
    top: -85px;
    width: 10px;
    z-index: -1;
  }
}

@media (max-width: 767px) {
  .dropdown-full-width > .dropdown-menu {
    margin-left: 0;
    margin-right: 0;
  }

  .dropdown-full-width > .dropdown-menu > li > ul > li > a,
  .dropdown-full-width > .dropdown-menu > li > ul > li > ul > li > a {
    padding: 5px 15px 5px 25px;
  }

  .dropdown-full-width > .dropdown-menu > li > ul > li > ul > li > a {
    padding-left: 50px;
  }
}


/* Navs */
/* ---- */


/* Text in navs */
.nav-text {
  display: block;
  padding: 10px 15px;
  position: relative;
}


/* Navbars */
/* ------- */


/* Wrapper and base class */

.navbar {
  border: 0;
  min-height: 70px;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}

.navbar > .container {
  position: relative;
}


/* Navbar collapse */

.navbar-collapse {
  -webkit-box-shadow: 0 1px 0 rgba(247, 247, 247, 0.25) inset;
  box-shadow: 0 1px 0 rgba(247, 247, 247, 0.25) inset;
}

@media (min-width: 768px) {
  .navbar-collapse {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}


/* Navbar alignment options */

/* Static top navbar */
.navbar-static-top + .hero-unit {
  margin-top: -20px;
}


/* Navbar toggle */

.navbar-toggle {
  margin-bottom: 16px;
  margin-top: 16px;
}


/* Navbar nav links */

.navbar-nav > li > a {
  padding-bottom: 25px;
  padding-top: 25px;
}

@media (max-width: 767px) {
  .navbar-nav > li > a {
    padding-bottom: 15px;
    padding-top: 15px;
  }
}

.navbar-nav .dropdown-full-width {
  position: static;
}


/* Navbar form */

.navbar-form {
  margin-bottom: 18px;
  margin-top: 18px;
}

@media (max-width: 767px) {
  .navbar-form {
    margin-bottom: 8px;
    margin-top: 8px;
  }

  .navbar-form:last-child,
  .navbar-form:last-child .form-group {
    margin-bottom: 0;
  }
}


/* Default navbar */

.navbar-default {
  background-image: -o-linear-gradient(top, #0099d5 0%, #267399 100%);
  background-image: -webkit-linear-gradient(top, #0099d5 0%, #267399 100%);
  background-image: linear-gradient(to bottom, #0099d5 0%, #267399 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0099d5', endColorstr='#ff267399', GradientType=0);
}

.navbar-default .navbar-nav {
  border-left: 1px solid rgba(26, 58, 111, 0.25);
  border-right: 1px solid rgba(247, 247, 247, 0.25);
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav {
    border-left: 0;
    border-right: 0;
  }
}

.navbar-default .navbar-nav > li > a {
  border-left: 1px solid rgba(247, 247, 247, 0.25);
  border-right: 1px solid rgba(26, 58, 111, 0.25);
  color: #fff;
  font-size: 14px;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav > li > a {
    border-left: 0;
    border-right: 0;
  }
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #8a95a6;
  background-color: #eee;
}

.navbar-default .navbar-nav > li > a:active {
  color: #16232e;
  background-color: #ffcc66;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #16232e;
  background-color: #eee;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #f3f3f3;
  border-color: #c6cedb;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #8a95a6;
}

.navbar-default .navbar-toggle:active {
  background-color: #ffcc66;
  border-color: #ffcc33;
}

.navbar-default .navbar-toggle:active .icon-bar {
  background-color: #16232e;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: rgba(26, 58, 111, 0.25);
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > .dropdown-header,
  .navbar-default .navbar-nav .open .dropdown-menu > li > ul > .dropdown-header {
    color: #fff;
  }

  .navbar-default .navbar-nav .open .dropdown-menu .divider {
    background-color: rgba(247, 247, 247, 0.25);
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a,
  .navbar-default .navbar-nav .open .dropdown-menu > li > ul > li > a,
  .navbar-default .navbar-nav .open .dropdown-menu > li > ul > li > ul > li > a {
    color: #c6cedb;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > ul > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > ul > li > ul > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > li > ul > li > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > li > ul > li > ul > li > a:focus {
    color: #fff;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > ul > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > ul > li > ul > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > ul > li > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > li > ul > li > ul > li > a:focus {
    text-decoration: none;
  }
}


/* Wells */
/* ----- */


/* Well backgrounds */

.well-transparent {
  -webkit-box-shadow: none;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}


/* Hover effect */

.well-hover:hover {
  -webkit-box-shadow: inset 0 1px 1px rgba(38, 115, 153, .05);
  background-color: #e5f5fb;
  border-color: #0099d5;
  box-shadow: inset 0 1px 1px rgba(38, 115, 153, .05);
}


/* Broadcast */
/* --------- */

/* Base class */

.broadcast {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  background-color: #ffcc66;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  padding: 3px;
}

/* Broadcast contents */

.broadcast-body {
  border-radius: 3px;
  border: 1px dashed #7f6633;
  color: #333;
  font-size: 16px;
  line-height: 1.4;
  padding: 6px;
  text-align: center;
}

@media (min-width: 768px) {
  .broadcast-body {
    font-size: 21px;
  }
}

.broadcast-body em {
  font-family: Georgia, serif;
  vertical-align: middle;
}

/* Outline buttons */
.broadcast-body .btn-outline:hover,
.broadcast-body .btn-outline:focus,
.broadcast-body .btn-outline:active {
  color: #ffcc66;
}


/* Hero unit */
/* --------- */


/* Wrapper and base class */

.hero-unit {
  background-color: #1a3a6f;
  color: #fff;
  margin-bottom: 45px;
  padding-bottom: 35px;
  padding-top: 35px;
}

.hero-unit a:hover,
.hero-unit a:focus {
  color: #ffcc66;
}

/* Broadcast */

.hero-unit .broadcast {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 20px;
  margin-top: -35px;
}

.hero-unit .broadcast-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* Country selector */
/* ---------------- */


/* Wrapper and base class */

.country-selector {
  position: relative;
}


/* Form alignment */

.country-selector > form {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}

.country-selector > form > .form-control {
  margin-left: auto;
  margin-right: auto;
  margin-top: -15px;
  width: 240px;
}


/* Maps */
/* ---- */


/* Wrapper and base class */

.map {
  height: 500px;
  width: 100%;
}


/* Countries */
/* --------- */


/* Country base class */

.country {
  display: block;
  line-height: 1.42857143;
  margin-bottom: 20px;
  padding: 4px;
  text-align: center;
}

/* Country names */
.country-name {
  overflow: hidden;
  padding: 9px;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* Footer */
/* ------ */


/* Wrapper and base class */

.footer {
  background-color: #16232e;
  border-top: 2px solid #8a95a6;
  color: #505c6a;
  font-size: 90%;
}


/* Footer sections */

.footer-section {
  border-bottom: 1px solid #505c6a;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.footer-section:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Footer inline lists */
.footer-section > .list-inline {
  margin-bottom: 0;
}


/* Footer links */

.footer a {
  color: #8a95a6;
}

.footer a:hover,
.footer a:focus {
  color: #c6cedb;
}


/* Logo base class */

.footer a.logo {
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.footer a.logo .image {
  background-image: url('../img/logos.png');
  background-repeat: no-repeat;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
}

.footer a.logo:hover,
.footer a.logo:focus {
  border-radius: 2px;
  background-color: #f3f3f3;
  color: #444;
  text-decoration: none;
}

/* Individual logos */

.logo-itpgrfa > .image {
  background-position: -60px -60px;
}

.logo-itpgrfa:hover > .image,
.logo-itpgrfa:focus > .image {
  background-position: -60px 0;
}

.logo-stockholm > .image {
  background-position: -120px -60px;
}

.logo-stockholm:hover > .image,
.logo-stockholm:focus > .image {
  background-position: -120px 0;
}

.logo-un > .image {
  background-position: -300px -60px;
}

.logo-un:hover > .image,
.logo-un:focus > .image {
  background-position: -300px 0;
}

.logo-basel > .image {
  background-position: -360px -60px;
}

.logo-basel:hover > .image,
.logo-basel:focus > .image {
  background-position: -360px 0;
}

.logo-ozone > .image {
  background-position: -420px -60px;
}

.logo-ozone:hover > .image,
.logo-ozone:focus > .image {
  background-position: -420px 0;
}

.logo-unccd > .image {
  background-position: -480px -60px;
}

.logo-unccd:hover > .image,
.logo-unccd:focus > .image {
  background-position: -480px 0;
}

.logo-cbd > .image {
  background-position: -540px -60px;
}

.logo-cbd:hover > .image,
.logo-cbd:focus > .image {
  background-position: -540px 0;
}

.logo-unece > .image {
  background-position: -660px -60px;
}

.logo-unece:hover > .image,
.logo-unece:focus > .image {
  background-position: -660px 0;
}

.logo-cites > .image {
  background-position: -720px -60px;
}

.logo-cites:hover > .image,
.logo-cites:focus > .image {
  background-position: -720px 0;
}

.logo-ramsar > .image {
  background-position: -780px -60px;
}

.logo-ramsar:hover > .image,
.logo-ramsar:focus > .image {
  background-position: -780px 0;
}

.logo-unep > .image {
  background-position: -840px -60px;
}

.logo-unep:hover > .image,
.logo-unep:focus > .image {
  background-position: -840px 0;
}

.logo-cms > .image {
  background-position: -900px -60px;
}

.logo-cms:hover > .image,
.logo-cms:focus > .image {
  background-position: -900px 0;
}

.logo-unesco > .image {
  background-position: -1020px -60px;
}

.logo-unesco:hover > .image,
.logo-unesco:focus > .image {
  background-position: -1020px 0;
}

.logo-fao > .image {
  background-position: -1080px -60px;
}

.logo-fao:hover > .image,
.logo-fao:focus > .image {
  background-position: -1080px 0;
}

.logo-rotterdam > .image {
  background-position: -1140px -60px;
}

.logo-rotterdam:hover > .image,
.logo-rotterdam:focus > .image {
  background-position: -1140px 0;
}

.logo-unfccc > .image {
  background-position: -1200px -60px;
}

.logo-unfccc:hover > .image,
.logo-unfccc:focus > .image {
  background-position: -1200px 0;
}

.logo-whc > .image {
  background-position: -1380px -60px;
}

.logo-whc:hover > .image,
.logo-whc:focus > .image {
  background-position: -1380px 0;
}

.footer a.logo-eu > .image {
  background-image: url('../img/logo-eu.png');
  width: 88px;
}

/* Horizontal dividers */

.footer ul .divider {
  background-color: #505c6a;
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
}


/* Pages */
/* ----- */


/* Front page */

#row-features .well h3 {
  margin-top: 0;
}

#col-countries .well {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  #row-features .well {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #col-terms .description,
  #col-treaties .regions {
    min-height: 100px;
  }

  #col-treaties .description {
    padding-bottom: 5px;
  }
}

@media (min-width: 1200px) {
  #col-terms .description,
  #col-treaties .regions {
    min-height: 80px;
  }

  #col-treaties .description {
    padding-bottom: 24px;
    padding-top: 24px;
  }
}


/* Countries list page */

.page-countries-list .nav-pills {
  font-size: 0;
  text-align: center;
}

.page-countries-list .nav-pills > li {
  display: inline-block;
  float: none;
  font-size: 14px;
  margin-bottom: 2px;
}
